<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>orionauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>orionauth</string>
            </array>
        </dict>
    </array>
    <key>SUPABASE_URL</key>
    <string>https://svltefplctinykebecyv.supabase.co</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>sb_publishable_xbZg9iawNirb6uCt5mw6ZA_FI9dttqk</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Riddhiman Rana. All rights reserved.</string>
</dict>
</plist>
